@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.sweet-alert__overlay {
    background-color: rgba(94, 93, 93, 0.7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;

    .sweet-alert__box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.5rem;
        background-color: rgb(243, 242, 242);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgb(70, 70, 70);
        text-align: center;
        padding: 1rem;

        .sweet-alert__check {
            font-size: 3rem;
            color: green;
        }


        .sweet-alert__description {
            font-size: 15px;
            color: rgb(95, 95, 95);
        }

        .sweet-alert__btn {
            background-color: rgb(17, 82, 221);
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            border-radius: 7px;
            cursor: pointer;
        }
    }



}